@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header.header {
    box-shadow: 0 0 30px 0 #00000024;
    background: #fffd !important;
    backdrop-filter: blur(5px);
}

a.nav-link {
    padding: 10px 0 !important;
}

.navbar .active,
.navbar .nav-link {
    position: relative;
}

.navbar .active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: -8px;
    left: 0;
}

.nav-link::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    background-color: black;
    bottom: -8px;
    left: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.nav-link:hover::after {
    width: 100%;
}

.nav-item.dropdown .nav-link::after,
.nav-item.dropdown .active::after {
    opacity: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    background: #0001;
    color: #000;
}

.list-group-item.active {
    background-color: #1f1e2e;
}

.admin-info p i {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 30px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: inline-block;
}

.ant-modal-mask {
    backdrop-filter: blur(2px);
}

.btn.small {
    padding: 0 15px;
}
.edit-btn {
    background-color: rgba(255, 166, 0, 0.171);
    color: rgb(201, 119, 25);
}
.edit-btn:hover {
    background-color: orange;
    color: white;
}
.delete-btn {
    background-color: rgba(255, 0, 0, 0.089);
    color: red;
}
.delete-btn:hover {
    background-color: red;
    color: white;
}
.table-slug {
    color: #8d8d8d !important;
    font-size: 12px;
}
.form-select {
    --bs-form-select-bg-img: none;
}
.header {
    z-index: 999999;
}
.cat-heading {
    border-left: 5px solid #1f1e2e;
}
.ant-checkbox-inner {
    background-color: black;
    border-color: black;
}

/* This will change the border color of the checkbox when it's checked */
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: black;
    border-color: black;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
    background-color: transparent;
    border-color: black;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-checkbox-checked
    .ant-checkbox-inner {
    background-color: black;
    border-color: black;
}
:where(.css-dev-only-do-not-override-19gw05y).ant-radio-wrapper
    .ant-radio-checked
    .ant-radio-inner {
    background-color: black;
    border-color: black;
}
.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner {
    background-color: black !important;
    border-color: black !important;
}

span.ant-radio-inner,
span.ant-checkbox-inner {
    border: 1px solid black !important;
}

input:active,
input:focus {
    box-shadow: 0 0 0 0 !important;
    outline: 0 !important;
    border: 1px solid #ddd !important;
}

.Toastify__toast-body > div:last-child {
    word-break: break-word;
    -ms-flex: 1;
    color: #000;
    flex: 1;
    font-weight: 600;
    font-family: 'poppins';
    padding: 0 10px;
}
.Toastify__toast-container {
    width: 350px;
    max-width: 100%;
}

.btn,
.form-control {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}
.ant-badge-count {
    margin-top: 10px;
    left: 8px;
}

sup.ant-scroll-number.ant-badge-count {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins';
    background: #000;
}
.nav-link i.bi.bi-bag-fill {
    font-size: 18px;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1) !important;
}

tr,
td {
    border: none !important;
}
tr,
td,
th {
    border-color: #ddd;
}
