@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header.header {
    box-shadow: 0 0 30px 0 #00000024;
    background: #fff !important;
}

a.nav-link {
    padding: 10px 0 !important;
}

.navbar .active,
.navbar .nav-link {
    position: relative;
}

.navbar .active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: -8px;
    left: 0;
}

.nav-link::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    background-color: black;
    bottom: -8px;
    left: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.nav-link:hover::after {
    width: 100%;
}

.nav-item.dropdown .nav-link::after,
.nav-item.dropdown .active::after {
    opacity: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    background: #000;
}
